.icon{
    align-items: center;
    display: flex;
}
.logoText{
    margin-left: 10px;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: 900;
}
.linkLogo{
    font-weight: 900;
    text-decoration: none;
}
.logoSubText{
    margin-left: 3px;
    font-size:17px;
    color: rgb(18, 165, 116);
    font-variant: small-caps;
    font-weight: 900;
}